/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 20, 2015, 8:08:06 PM
    Author     : Diddy500
*/
body,html
{
    width:  100%;
    height: 100%;
    margin: auto;
}
#GameWindow
{
    height: 90%;
    border: 1px solid black;
}
#ControlWindow
{
    height: 10%;
    border: 1px solid black;
}
#ControlWindow button
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
